html {
    overflow: scroll;
}

body {
    margin: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 80px;
}

.left img {
    width: 130px;
    height: 130px;
}

.right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 80px;
}

ul {
    list-style-type: none;
}

.txt {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;

}

.welcome {
    color: white;
}

.content {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 80px;
}

.content img {
    width:500px;
    height: 354px;
}

.links {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    width: 450px;
    
}

.rechts {
    display: flex;
}

h1 {
    font-weight: x bold;
    font-size: 48px;
    flex-wrap: wrap;
}

button {
    display: flex; 
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

img {
    width: 200px;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    padding-bottom: 8%;
    gap: 8px;

}

.info {
    display: flex;
}

.items {
    display: flex;
    justify-content: center;
    width: 238px;
    gap: 15%;
}

.items button {
    background-color: transparent;
    border-width: 3px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    flex-wrap: wrap;
    padding: 8%;
}

.quote p {
    color: #1F2937;
    
}

.plato {
    font-style: Arial;
    font-weight: bold;
}

.modal {
    color: white;
    margin: 100px 200px;
    padding: 10px 30px;
    border-radius: 15px;
    gap: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6

}

.butt button {
    border-color: white;
}


footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 1%;
}
