html {
    overflow-y: scroll;
}


header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;

}

.welcome {
    color: white;
}

.content {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.links {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.rechts {
    display: flex;
}

h1 {
    font-weight: x bold;
    font-size: 48px;
    flex-wrap: wrap;
}

button {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

img {
    width: 200px;
    height: 200px;
}

.container {
    display: flex;
}